<!-- Header {{{ -->
<div class="navbar navbar-app navbar-absolute-top">
	<div class="navbar-brand navbar-brand-center">
		<span>EccentricTimer</span>
	</div>

	<div class="btn-group pull-left">
		<div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
			<i class="fa fa-bars"></i> Menu
		</div>
	</div>
</div>
<!-- }}} -->
<!-- Body -->
<div class="app-body"><div class="app-content">

<div class="row pad-top-xl">
	<div class="text-center">
		<img class="logo" src="/img/logo.png"/>
	</div>
</div>

<div class="row pad-top">
	<a ng-show="!user._id" href="#/login" class="btn btn-lg btn-success col-xs-4 col-xs-offset-4">Login</a>
</div>
<div ng-if="user._id" class="row pad-bottom-xs" ng-repeat="item in user.root.children track by item._id">
	<a ng-href="#/!/{{item._id}}" class="btn btn-lg btn-success col-xs-4 col-xs-offset-4">
		<div icon="{{item.icon}}"></div>
		{{item.title}}
		<i class="fa fa-chevron-right pull-right"></i>
	</a>
</div>

</div></div>
<!-- }}} -->
