<div ng-controller="menuController" class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar">
	<h1 class="app-name"><%=settings.title%></h1>

	<div class="scrollable">
		<div class="scrollable-content">
			<div class="list-group" bubble target="mainSidebar">
				<a class="list-group-item" href="#/">
					Home
					<i class="fa fa-chevron-right pull-right"></i>
				</a>
			</div>
			<div class="list-group" bubble target="mainSidebar">
				<a ng-repeat="timer in timers track by timer.id" ng-href="#/timer/{{timer.id}}" class="list-group-item">
					{{timer.title}}
					<i class="fa fa-chevron-right pull-right"></i>
				</a>
			</div>
			<div class="list-group" bubble target="mainSidebar">
				<a class="list-group-item" href="#/settings">
					Settings
					<i class="fa fa-chevron-right pull-right"></i>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="app">
	<div ng-view ng-class="animateClass"/>
</div>
